:root {
    --color-fondo: #271F30;
    --color-texto-copy: #6C5A49;
    --color-fondo-tecnologia: #65A1A5;
    --color-fondo-portfolio: #C8AD55;
    --color-fondo-contactanos: #9BC59D;
    --color-texto-todo: #D0FCB3;
    --color-fondo-negro: black;
}   


body, body {
       padding: 0;
       margin: 0;
       background-color: var(--color-fondo-negro);
}
   
@keyframes animacion_1 {
       0% {
           transform: scale3d(1, 1, 1);
       }
   
       30% {
           transform: scale3d(0.75, 1.25, 1);
       }
   
       40% {
           transform: scale3d(1.25, 0.75, 1);
       }
   
       50% {
           transform: scale3d(0.85, 1.15, 1);
       }
   
       65% {
           transform: scale3d(1.05, 0.95, 1);
       }
   
       75% {
           transform: scale3d(0.95, 1.05, 1);
       }
   
       100% {
           transform: scale3d(1, 1, 1);
       }
}
   
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-19 23:45:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #95f4fb;
    }
    100% {
      background: #32034e;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #1b0229;
    }
  }
  
h1{
    font-size: 50px;
    color: #E6DBDB;
}

.titulo_Principal{
    text-align: center;
    border: solid red 2px;
}
h2 {
       color: var(--color-texto-todo);
   }
   
   /*inicio estilo del nav*/
   .navbar__Clase {
       background-color: var(--color-fondo);
       height: 300px;
       
   }
   
   /*fin estilo del nav*/
   
   .contenedor_1 { /*contenedor principal*/
       width: 100%;

   }
   
   .contenedor_div_copy{ /*contenedor del div_copy*/
      width: 55%;
      height: 450px;
      display:grid;
      float: left;
           
    
   }
   .contenedor_2 { /*contenedor de los div de las tecnologiac*/
       width: 44%; 
       height: 450px;
       display: grid;
    }
   
   /*inicio estilo del div donde ira el copy*/
   .div_texto__Copy {
       background-color: var(--color-texto-copy);
       width: 100%;
       height: 440px;
       border-radius: 70px;
       margin-top: 5px;       
       filter: drop-shadow(5px 5px 10px #E6DBDB);
   }
   
   .div_texto__Copy:hover {
       animation: animacion_1 2s ease 0s 1 normal forwards;
   }
   /*fin estilo del div donde ira el copy*/
   
   /*inicio estilo del div donde ira las tecnologias*/
   
   .div_Tecnologia {
       background-color: var(--color-texto-copy);
       width: 100%;
       height: 215px;
       border-radius: 70px;
       display: flex;
       
       margin: 5px;
   }
   
   .div_Tecnologia:hover {
       animation: animacion_1 2s ease 0s 1 normal forwards;
   }
   
   .div_Tecnologia_2 {
       background-color: var(--color-texto-copy);
       width: 100%;
       height: 215px;
       border-radius: 70px;
       margin: 5px;
       display:flex;
       
   }
   
   .div_Tecnologia_2:hover {
       animation: animacion_1 2s ease 0s 1 normal forwards;
   }
   
   /*fin estilo del div donde ira las tecnologias*/
   
   /*inicio estilo del div donde ira el portfolio*/
   .contenedor_Portfolio_Contacto {
    width: 100%;

   }
   
   .div_Portfolio {
       background-color: var(--color-fondo-portfolio);
       width: 29%;
       height: 500px;
       border-radius: 70px;
       display: inline-flex;
       float: left;    
       margin: 2px;
   }
   /*
   .div_Portfolio:hover {
       animation: animacion_1 2s ease 0s 1 normal forwards;
   }
   */
   /*inicio estilo del div donde ira el portfolio*/
   
   /*inicio estilo del div donde ira formulario de contacto*/
   
   .div_Contacto {
       background-color: var(--color-fondo-contactanos);
       width: 70%;
       height: 500px;
       border-radius: 70px;
       display: flex;
       float: left;
       margin: 2px;
   }
   /*
   .div_Contacto:hover {
       animation: animacion_1 2s ease 0s 1 normal forwards;
   }*/
.titulo_Form_Principal{
    text-align: center;
    border: red solid 2px;
}

.form_lista {
    text-decoration: none;
}

.titulo_Form {
    font-size: 50px;

}

   .footer {
    width: 100%;
    height: 160px;
    margin-top: 10px;
    background-color: var(--color-fondo);
    display: flex;
    

   }
   /*fin estilo del div donde ira el portfolio*/
   